<body>
  <div class="background"></div>
  <div id="cog_data" class="hidden">
    {{ "cog_ajax":"True", "cog_web":"True" }}
  </div>
  <div id="cog_dialog_modal" class="hidden"></div>
  <div id="cog_dialog" class="hidden"></div>
  <div id="cog_main_container">
    <div id="header">
      <div class="left">{}</div><!--site map-->
      %s<!--void-->
      %s<!--top-search-->
      %s<!--header-->
      %s<!--login_container-->
    </div>
    <div id="cog_main">
      <div id="cog_left">
        <div id="cog_menu"><h3>{}</h3><ul></ul></div>
        <div id="cog_cart" title="{}"><h3>{}</h3>
          <ul class="none"><li class="background">{}.</li></ul>
        </div>
      </div>
      <div id="cog_container">
        %s<!--body_content-->
      </div>
    </div>
    <div id="footer">
        <small>
      <span id="cog_duration"></span>
      <span id="cog_debug_link" class="toggle" to_toggle="#cog_debug"></span>
      <span><b><em>%s</em></b></span><!--site name-->
      %s<!--footer-->
      <div id="cog_debug" class="hidden"></div>
      </small>
    </div>
  </div>
  <section id="cog_new_page" class="hidden"></section>
  <script type="text/javascript">
  function ajax_stop(){{
      $.unblockUI();
      //$(document).cog_pageHeight();
    }}
    $(function() {{
      $(document).collorg();
      var user_language = window.navigator.language || navigator.userLanguage || 'en';
      user_language = user_language.replace(/-.*$/g, '');
      moment.locale(user_language, 'en');
    }});
    function beforeunloadHandler(e) {{
      var confirmationMessage = "Are you sure you want to leave this page?";
      (e || window.event).returnValue = confirmationMessage;     //Gecko + IE
      return confirmationMessage;     //Webkit, Safari, Chrome etc.
    }}
  </script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({{
      "HTML-CSS": {{ linebreaks: {{ automatic: true }} }},
      tex2jax: {{ inlineMath: [['$','$'],['\\(','\\)']] }}
    }});
  </script>


</body>
