<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
if (typeof jQuery == 'undefined') {{
    document.write(unescape("%%3Cscript src='/collorg/javascript/jquery-1.11.2.min.js' type='text/javascript'%%3E%%3C/script%%3E"));
}}
</script>
<script>$.uiBackCompat = false;</script>
<script type="text/javascript" src="/collorg/javascript/jquery.json-2.3.min.js"></script>
<script type="text/javascript" src="/collorg/javascript/jquery.address.min.js"></script>
<script type="text/javascript" src="/collorg/javascript/purl.js"></script>
<script type="text/javascript" src="/collorg/javascript/jquery.cookie.js"></script>
<script type="text/javascript" src="/collorg/javascript/creole.min.js"></script>
<script type="text/javascript" src="/collorg/javascript/jquery.collorg.0.0.28.min.js"></script>
<script type="text/javascript" src="/collorg/javascript/liveSearch/jquery.liveSearch.js"></script>
<script type="text/javascript" src="/collorg/javascript/jquery.blockUI.js"></script>
<script type="text/javascript" src="/collorg/javascript/moment-with-locales.min.js"></script>
<script type="text/javascript" src="/collorg/javascript/jquery-ui-1.10.4/ui/minified/jquery-ui.min.js"></script>
<script type="text/javascript" src="/collorg/javascript/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="/collorg/javascript/timepicker/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<!--
<script type="text/javascript" src="/collorg/javascript/jquery.mobile-1.4.0-beta.1.min.js"></script>
<script type="text/javascript" src="/collorg/javascript/fullcalendar/fullcalendar-fr.js"></script>
-->
