.ui-action_ {
    background:#e5e3e3 url("/collorg/images/button.png") repeat-x;
    border-top:1px solid #DDD;
    border-left:1px solid #c6c6c6;
    border-right:1px solid #DDD;
    border-bottom:1px solid #c6c6c6;
    color:#515151;
    outline:none;
    margin:2px;
    padding-left:4px;
    -webkit-border-radius: 25px 25px 25px 25px;
    -khtml-border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0 0px 0 #ececec;
    cursor: pointer;
}

.ui-action_:hover{
    background:#b4b4b4 url("/collorg/images/button_selected.png") repeat-x;
    border-top:1px solid #ccc;
    border-left:1px solid #bebebe;
    border-right:1px solid #b1b1b1;
    border-bottom:1px solid #afafaf;
    cursor: pointer;
}

.button {
   border: 1px solid #d5d5d5;
   background: #e0e0e0;
   background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e0e0e0));
   background: -webkit-linear-gradient(top, #f9f9f9, #e0e0e0);
   background: -moz-linear-gradient(top, #f9f9f9, #e0e0e0);
   background: -ms-linear-gradient(top, #f9f9f9, #e0e0e0);
   background: -o-linear-gradient(top, #f9f9f9, #e0e0e0);
   padding: 3px 6px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   color: #333 !important;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
    cursor: pointer;
   }
.button.small{
    padding: 1px;
}
