.debug {
    overflow: auto;
    background: #EEEEEE;
    margin-top: -2em;
    max-height:400px;
}
.debug_error {
  color: white;
  background: red;
  font-weight: bold;
}
.debug_error:hover {
  color: white;
  text-decoration: underline
}
h .debug_error{
    color:red;
}
.error{
    color:red;
}
