.icon {
    width: 10px;
    display: inline;
}
.medicon {
    width: 16px;
    display: inline;
}
.bigicon {
    width: 20px;
    display: inline;
    vertical-align: middle;
}
.hugeicon {
    width: 30px;
    display: inline;
}
.debug {
	width: 16px;
	display: inline-block;
	position: unset;
}