nav.ariadne{
    /*font-size: 75%;*/
    border-bottom: 1px dashed;
    color: #bbb;
}
.navmenu ul{
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}
.underlined-link{
    border-bottom: 1px solid #aaa;
}
#cog_top_nav_ariadne > img.ariadne:hover{
    cursor:pointer;
}
#cog_top_nav_ariadne > img{
	margin-left: 5px;
}
#cog_top_nav_ariadne li{
    z-index: 110;
}

#cog_top_nav_map {
    float: left;
	margin-left: 5px;
}

#cog_top_nav_search {
    float: left;
	margin-left: 5px;
}

#header img {
    display: inline-block;
    padding-top: 5px;
}

#cog_top_nav_search > #cog_top_nav_search_inputs {
	vertical-align: super;
	display: inline-block;
}
#cog_home_link{
  position: absolute;
  right: 20px;
  top: 2px;
  color: white;
  background-color: #4669B1;
  z-index: 30;
  padding-right: 20px;
  border-radius: 6px;
}
#cog_log_link {
  position: absolute;
  right: 0px;
  z-index: 50;
  border-radius: 20px 0px 0px 20px;
  padding: 0px 5px;
  background: #17bfd1;
  background: -webkit-gradient(linear, left top, left bottom, from(#8df8f2), to(#17bfd1));
  background: -webkit-linear-gradient(top, #8df8f2, #17bfd1);
  background: -moz-linear-gradient(top, #8df8f2, #17bfd1);
  background: -ms-linear-gradient(top, #8df8f2, #17bfd1);
  background: -o-linear-gradient(top, #8df8f2, #17bfd1);
  transition-duration: 0.8s;
}
#cog_log_link:hover {
  background: #8df8f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#17bfd1), to(#8df8f2));
  background: -webkit-linear-gradient(top, #17bfd1, #8df8f2);
  background: -moz-linear-gradient(top, #17bfd1, #8df8f2);
  background: -ms-linear-gradient(top, #17bfd1, #8df8f2);
  background: -o-linear-gradient(top, #17bfd1, #8df8f2);
}
#cog_log_link span.logout{
  display: none;
}
#cog_log_link:hover span.logout{
  display: inline-block;
  margin-left: 1em;
}
#cog_log_link span, #cog_home_link span {
    vertical-align: super;
    font-size: 75%;
    font-weight: bold;
    margin-right: 5px;
}
#cog_log_link:hover, #cog_home_link:hover {
    cursor: pointer;
}
