/*positioning*/
/*fixed elements*/
#cog_main_container{
    max-width: 1000px;
    align: center;
    margin-left: auto;
    margin-right: auto;
    border-left: 20px solid #d2d2f2;
    border-right: 20px solid #b2b2f2;
}

/*#header, #footer{position:fixed;}*/
/*horizontally*/
body, #header, #footer{
    width: 100%;padding-left: 0; padding-right: 0; margin: 0px;
}

#header {
    z-index: 1;
    height: 40px;
    display:block;
    top: 0px;
    vertical-align: middle;
    white-space: nowrap;
    background: #e2e2f2;
}
#header a{
    color: black;
    font-size: 90%;
}
#header .shy{
    display: none;
}

#footer {
min-height: 20px;
bottom: 0;
background: #c2c2f2;
color: #444;
z-index: 10;
}

#cog_main{
    display: inline-block;
    width: 100%;
}
#cog_left{
  width:23%;
  float: left;
}

#cog_container{
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 0px;
}

#cog_menu{
    background-image: url("/collorg/images/history_0.2.svg");
    border-bottom: solid 2px #ccc;
}

#cog_cart{
    background-image: url("/collorg/images/cart_0.2.svg");
    border-top: solid 2px #ccc;
}

#cog_cart, #cog_menu{
    background-repeat: no-repeat;
    background-position: 100% 100%;
    font-size: 80%;
    overflow-y:auto;
}

#cog_cart ul, #cog_menu ul{
    padding-left: 20px;
    height: 80%;
}

#cog_menu h3, #cog_cart h3{
  font-size: 14px;
  color:#aaa;
  margin: 0;
  padding: 5px;
}

/*vertically*/
/*HEADER*/
#cog_top_nav_menu{
    clear: both;
    background-color: #555;
    font-size: 90%;
}
#cog_top_nav_menu a{
    color: white;
}
.login{
    background: #eee;
    vertical-align: baseline;
}

#side_tags a, #side_tags hr{
    color: black;
}
/*footer a img {
    position: fixed;
    margin-top: -50px;
    right: 5px;
}*/

.page nav ul{
    margin-top: 0px;
    margin-bottom: 0px;
}
.page > nav{
    margin-top: 4px;
    margin-bottom: 5px;
    padding-left: 5px;
}
.page, .mini_page {
    box-shadow: 0 0 5px #d2d2d2;
    -moz-box-shadow: 0 0 5px #d2d2d2;
    -webkit-box-shadow: 0 0 5px #d2d2d2;
    border-radius: 6px 6px 6px 6px;
    overflow: hidden;
    font-size: 80%;
}
.page{
    white-space: normal;
    border-left: solid 2px #ccc;
}
.page>article{
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 5px;
    padding-left: 1em;
}
.page table, .page pre{
    overflow-x: auto;
}
.page > header > title{
    margin-bottom: 1em;
}
.page>header{
    display: inline-block;
    width: 100%;
    margin-bottom: -4px;
    padding-left: 5px;
}
.page > header > .title{
/*    margin-left: 5px;*/
    background-repeat: no-repeat;
    background-size: 16px;
    background-image: url("/collorg/images/refresh.svg");
    background-position: 4px center;
    display: table;
}
.page > .header-actions{
    float: right;
}
.page a.clicked{
    font-weight: bold;
}
#cog_ariadne_menu a.active{
   background: #e0e0e0;
   cursor: default;
   color: #bbb !important;
}
#cog_ariadne_menu a.before{
  cursor: url(/collorg/images/left_arrow.svg) 8 8, auto;
}
#cog_ariadne_menu a.after{
  cursor: url(/collorg/images/right_arrow.svg) 8 8, auto;
}
#cog_container>.page{
  z-index: 20;
  border-radius: 2px;
}
.page.inactive {
  display: none;
}
#cog_container>.page{
    vertical-align: top;
}
.page .topic_text{
display: inline-block;
float: right;
padding: 5px;
width: 28%;
background-color: rgba(0,0,0,0.05);
overflow-x: auto;
}
.page .topic_list{
display: inline-block;
vertical-align: top;
width: 69%;
}
.page>footer{
margin-bottom: -10px;
padding-left: 5px;
background-color: rgba(165, 165, 165, 0.2);
box-shadow: 0 -3px 3px #b6b6b6;
}

/* ----------- article inner elements ------------ */

article *:not(a) > img {
    max-width: 80%;
    display: block;
    margin: auto;
}

.render_wiki{
    background-color: #ffb;
}

.embedded {
    max-width: 100%;
}

.page.inactive .embedded {
    display: none;
}
