table.collapsed{
    border-collapse: collapse;
    border-top: solid 1px #555;
    border-bottom: solid 1px #555;
}
table.collapsed td {
    border-left:solid 2px white;
}
th {
    text-align: left;
    vertical-align: top;
    font-style: oblique;
    background-color: #ddd;
}
td.underlined{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ccc;
}
td.top{
    vertical-align: top;
}
table.bordered{
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
table.border th, table.border td{
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
td {
    padding-bottom: 3px;
}
