body>div.background {
    z-index: -1;
      background: url('/collorg/images/collorg.svg') center center no-repeat;
      background-size: 60%;
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0.05;
      position: fixed;
};

body{
    font-family:sans-serif;
}
.left{
    position:relative;
    float:left;
}
.header-actions {
    margin-right: 5px;
    margin-bottom: -3px;
}
.right, .right-list {
    position:relative;
    float:right;
}
.right-list{
/*    background-color: white;*/
    padding: 3px;
}
.right-list > ul{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.align-right{
text-align: right;
}
.center {
    position:relative;
    margin-left: auto;
    margin-right: auto;
}
.small{
    font:normal;
    font-weight:normal;
    font-size:75%;
}
.login {
    z-index:20;
    vertical-align: bottom;
}
div.exclusive {
    /*
    hides every siblings after the element.
    javascript must add an icon to close this element.
    when closed, restores all hidden siblings
    */
}
img.close {
    margin: 3px;
    padding: 3px;
    float: right;
}
#cog_link{
    position: fixed;
    bottom: 2px;
    right: 5px;
    transition-duration: 0.5s;
}
#cog_link:hover{
    bottom: 10px;
    right: 10px;
    transform: rotate(360deg);
    transition-duration: 0.5s;
}
.alignright {
    display: inline;
    float: right;
    margin-top: -3em;
    width: 25%;
    font-size: 75%;
}
underline{
    border-bottom: 1px solid #a0a0f0;
}
ul.none {
    list-style-type: none;
    /*margin-left: 5px; /* #!! */
    margin-top: 5px;
    padding-left: 1px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.middle-align{
    vertical-align: middle;
}
textarea {
    width: 100%;
}
.reminder{
    font-size: 75%;
    margin-top: -0.6em;
    margin-left: 1px;
    background-color:#f2f2f2;
    padding-left: 1em;
    -webkit-border-radius: 8px 8px 8px 0px;
    -khtml-border-radius: 8px 8px 8px 0px;
    -moz-border-radius: 8px 8px 8px 0px;
    border-radius: 8px 8px 8px 0px;
}
/*.clickable:hover{
    border: 1px solid rgba(136, 136, 136, 0.17);
    cursor: pointer !important;
}*/
.focus{
    cursor: pointer !important;
    font-weight: bold;
}
.block, .right_block{
    background-color:#f5f5f5;
}
.right_block{
    position:relative;
    float:right;
    max-width:33%;
    margin-left: 5px;
    padding: 5px;
}
.block h5, .block ul{
    margin-top: 0;
    margin-bottom: 3px;
}
.block hr{
    margin: 0;
}
/*
.container{
    padding: 5px;
    width: 100%;
}
*/
.half{
    width: 50%;
}
.third{
    width: 30%;
}
.attach {
    background-image: url("/collorg/images/attachment.svg");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-color: #F3ECBF;
    border-bottom-left-radius: 36px 5px;
    margin: 5px;
    padding: 10px 8px 8px;
    overflow: auto;
    /*position: relative;*/
}
.attach ul{
padding: 1em;
}

.bottom {
    vertical-align: bottom;
}
.big {
    font-size: 110%;
    font-weight: bold;
}
.justify {
    text-align: justify;
}

#cog_history {
    cursor: pointer;
}
.photo{
    width: 100px;
}
#cog_debug{
    max-height: 250px;
    overflow:auto;
    background-color: #eee;
}
input.all_width{
    width:100%;
}
.odd{
    background-color: white;
}
.even{
    background-color: #eee;
}
.vtop{
    vertical-align: top;
}
.stuck{
    position:fixed;
    z-index:10;
    background-color:#eee;
    top:60px;
    margin-top:0px;
}
.search_tag{
    cursor: pointer;
}
.search_tag.selected{
    font-weight: bold;
}
.editbloc{
    background-color:#bff;
}
.ui-menu {
    z-index: 110;
}
.follow, .d_see_also{
    margin-right: 5px;
}
/*.follow:hover, .d_see_also{
    cursor:move;
    }*/
#ui-datepicker-div{
    font-size: 80%;
}

.cart-remove-action {
    display: inline-block;
    background-image: url('/collorg/images/trashcan.svg');
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.required {
    font-size: 80%;
    background-color: #666;
    color: white;
    padding: 2px;
}
.no_required .required {
    display: none
}
.box_rotate {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.bigwarning{
  font-size: 30px;
 color:#FFFFFF;
 text-shadow: 0 1px 0 #ccc,
 0 2px 0 #c9c9c9,
 0 3px 0 #bbb,
 0 4px 0 #b9b9b9,
 0 5px 0 #aaa,
 0 6px 1px rgba(0,0,0,.1),
 0 0 5px rgba(0,0,0,.1),
 0 1px 3px rgba(0,0,0,.3),
 0 3px 5px rgba(0,0,0,.2),
 0 5px 10px rgba(0,0,0,.25),
 0 10px 10px rgba(0,0,0,.2),
 0 20px 20px rgba(0,0,0,.15);
}
.threeD, .protected, .private, .public
{
/*    background-color: lightgrey;
    color: white;*/
    margin: 0px 3px;
    padding: 3px;
    font-size: 70%;
    cursor: default;
}
.private {
    font-weight: bold;
    color: red;
}
.protected {
    font-weight: bold;
    color: orange;
}
.public {
    font-weight: bold;
    color: #009F00;
}

.inline {
    display: inline;
}
.trace, .trace_external {
    border: 1px solid #d99;
    display: inline-block;
    min-height:40px;
    /*float: left;*/
    /*margin: 5px;
      /*height: auto !important;
      min-width:10px;
      height:auto !important;
      height:10px;*/
    overflow: scroll;
}
.trace_external {
    border: 1px solid #99d;
}
.ical {
    font-weight: bold;
    background-color: #eee;
    padding: 5px;
    -webkit-border-radius: 8px 8px 8px 0px;
    -khtml-border-radius: 8px 8px 8px 0px;
    -moz-border-radius: 8px 8px 8px 0px;
    border-radius: 8px 8px 8px 0px;
}
.dropzone{
    min-height: 40px;
}

.background {
    postion:relative;
    top:10px;
   z-index: -1;
   overflow: hidden;
   font-size: 20px;
  color:#aaa;
}
